---
import Layout from "../layouts/Layout.astro";
import Scene from "../components/Scene.astro";
---

<Layout title="Wedding Festival">
  <div class="flex flex-col items-center gap-1 py-1">

    <Scene scene="zuvano-01" />
    <Scene scene="zuvano-02" />
    <Scene scene="zuvano-03" />

    <!-- <section id="scene1" class="scene-section">
      <Scene scene="zuvano-01" />
    </section>

    <section id="scene2" class="scene-section">
      <Scene scene="zuvano-02" />
    </section>

    <section id="scene3" class="scene-section">
      <Scene scene="zuvano-03" />
    </section> -->

  </div>
</Layout>


<!-- <Layout title="Wedding Festival">
  <main class="flex-1 flex items-center justify-center">
    <Scene scene="zuvano_sk-01" />
    <Scene scene="zuvano_sk-02" />
    <Scene scene="zuvano_sk-03" />
  </main>
</Layout> -->