<!-- Footer -->
<footer class="h-16 flex items-center justify-center">  
  <div>
  <a
    href="https://www.dobro-druznystatek.cz/"
    target="_blank"
    rel="noopener noreferrer"
    class="px-6 py-1 text-zinc-600 hover:text-fuchsia-950"
    >
    DOBRO-DRUŽNÝ STATEK
  </a>
  <a
    href="https://maps.app.goo.gl/7MEzYu1hPbEJ8N777"
    target="_blank"
    rel="noopener noreferrer"
    class="px-6 py-1 text-zinc-600 hover:text-fuchsia-950"
    >
    MAPS
  </a>
</footer>