<!-- Header -->
<header class="h-10 flex items-center justify-center px-6 border-b border-white">     

  <!-- Language switcher -->
  <div class="flex gap-3 text-lg p-0 pt-6">
    <button data-lang="sk" class="lang-btn px-2 py-1 text-zinc-400 hover:text-fuchsia-950">SK</button>
    <button data-lang="cz" class="lang-btn px-2 py-1 text-zinc-400 hover:text-fuchsia-950">CZ</button>
    <button data-lang="en" class="lang-btn px-2 py-1 text-zinc-400 hover:text-fuchsia-950">EN</button>
  </div>

</header>