---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter?.title || "Ivan a Zuzka <3"}</title>
  </head>

  <script>
    const colorSelected = "text-green-700";
    const colorDefault = "text-zinc-400";
    const fontSelected = "font-medium";
    const fontDefault = "font-normal";

    function detectLanguage() {
      const saved = localStorage.getItem("lang");
      if (saved) return saved;

      const langs = navigator.languages || [navigator.language];

      for (const l of langs) {
        if (l.startsWith("sk")) return "sk";
        if (l.startsWith("cs") || l.startsWith("cz")) return "cz";
      }

      return "en";
    }

    function applyLanguage(lang) {

      // update scenes
      const scenes = document.querySelectorAll(".scene-img");

      scenes.forEach(img => {
        const sceneName = img.dataset.scene;
        img.src = `/scenes/${lang}_${sceneName}.svg`;
      });

      // update button highlight
      document.querySelectorAll(".lang-btn").forEach(btn => {

        btn.classList.remove(colorSelected, fontSelected);
        btn.classList.add(colorDefault, fontDefault);

        if (btn.dataset.lang === lang) {
          btn.classList.remove(colorDefault, fontDefault);
          btn.classList.add(colorSelected, fontSelected);
        }

      });
    }

    const lang = detectLanguage();
    applyLanguage(lang);

    document.querySelectorAll(".lang-btn").forEach(btn => {

      btn.addEventListener("click", () => {

        const lang = btn.dataset.lang;

        localStorage.setItem("lang", lang);

        applyLanguage(lang);

      });

    });
  </script>

  <body class="min-h-screen flex flex-col">

    <Header />    

    <main class="flex-1 overflow-y-auto">
      <slot />
    </main>

    <Footer />

  </body>

</html>